# Byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]
*$py.class

# Enviroments
*.venv/*
.env

#SQLite
*.db

# Temporary files
temp/*

# Jupyter Notebook
.ipynb_checkpoints

# Sensitive credentials
credentials.json

# AI Development Configuration
.kiro/